@import '../../styles/_variables.css';

.menu {
  display: flex;

  @media $small {
    display: none;
  }
}

.menu__item {
  margin-left: 3.5rem;
  list-style: none;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $dusty;
  font-size: 1.3rem;
}

.navIcon {
  margin: 1em;
  width: 40px;

  @media $from-medium {
    display: none;
  }
}

.navIcon:after,
.navIcon:before,
.navIcon div {
  background-color: $cod;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.navIcon.closeIcon:before {
  transform: translateY(12px) rotate(135deg);
  background-color: $alabaster;
}

.navIcon.closeIcon:after {
  transform: translateY(-12px) rotate(-135deg);
  background-color: $alabaster;
}

.navIcon.closeIcon div {
  transform: scale(0);
}

.smalldevicemenu__link {
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
  color: $alabaster;
}

.smalldevicemenu__item {
  list-style: none;
  margin-bottom: 20px;
}

